<html>
	<head>
		<meta charset="utf-8" />

		<!-- Twitter Bootstrap v4.3.1 stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1.css">

		<!-- in-house stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/index.css">

		<!-- jQuery v3.4.0 -->
		<script src="/js/jquery-3.4.0.js"></script>

		<!-- Twitter Bootstrap v4.3.1 JS -->
		<script src="/js/bootstrap-4.3.1.js"></script>
		<script src="/js/index.js"></script>
		<title>Bullet Editor/Analyzer</title>
	</head>
	<body>
		<div class="container">
			<%- include('../partials/testpartial') %>
			<h3>Bullet(s):</h3>

			<!-- textbox for typing bullets -->
			<div id="bullets" contenteditable="true"></div>

			<!-- div for displaying output bullets -->
			<div id="output"></div>
		</div>
	</body>
</html>